/*Main-content*/

.main-content {
    display: flex;
    flex-direction: column;
}

/*Header*/

.content-header {
    display: flex;
    flex-direction: column;
}

.header-top_side {
    border-bottom: 2px solid black;
}

.header-top_side p{
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #B7835A;
}

.background-color {
    background-color: #FDFDFD;
}

.header-search_connect_bag {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-login_bag {
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.login-content {
    color: #B6B7B7;
    font-size: 1em;
}

.content-search {
    display: flex;
    align-items: center;
    margin-left: 1%;
}

.margin-right_i {
    margin-right: 10px;
}

.margin-left_i {
    margin-left: 10px;
}

input {
    border: none;
}

.fas{
    color: #B6B7B7;
}

#color_input::placeholder {
    color: #BABABA;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.header-title {
    position: relative;
    top: -20px;
}
.content-title {
    text-align: center;
    font-size: 4em;
    font-family: 'Hanalei', cursive;
    letter-spacing: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.content-title a {
    text-decoration: none;
    color: black;
}

/*Navigation*/

.list-nav {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 0px;
}

.elt-nav {
    list-style-type: none;
    font-size: 1.3em;
    font-weight: 400;
    margin: 0 40px 0px 40px;
}

.list-nav a {
    text-decoration: none;
    color: black;
}

/*Contenu affiche promo*/
.content-content_promo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 13% 0 13% 0;
}
.content-promo {
    position: absolute,fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2.5% 2.5% 2.5% 2.5%;
    width: 20%;
    border : 2px solid black;
    background-color: #FDFDFD;
}

.line-one p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 0px;
    font-size: 1.5em;
}

.line-two p, .line-three p{
    font-size: 3.8em;
    font-weight: 600;
    margin: 0px;
}

.line-four p{
    font-size: 1.8em;
    font-family: 'Satisfy', cursive;
    margin: 0px;
    margin-bottom: 7%;
    
}

.button-p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}

.button-promo a{
    text-decoration: none;
    color: black;
}

/*Animation CSS*/

/*Nav-Animation-Soulign*/
.elt-nav {
    position: relative;
    color: black;
    padding: 3px 0;
  }
   
  .elt-nav:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    border-radius: 10px;
    background: black;
    transition: 800ms ease-in-out;
  }
   
  .elt-nav:hover:after {
    width: 100%;
  }

/*Animation zoom*/
  .elt-nav
{
    -webkit-transition: all 700ms ease-in;/*Compatibilité navigateur*/
    -webkit-transform: scale(1); /*Compatibilité navigateur*/
    -ms-transition: all 700ms ease-in;/*Compatibilité navigateur*/
    -ms-transform: scale(1); /*Compatibilité navigateur*/
    -moz-transition: all 700ms ease-in;/*Compatibilité navigateur*/
    -moz-transform: scale(1);/*Compatibilité navigateur*/
    transition: all 3s ease-in black; /*Permet de contrôler la vitesse d'animation - Ease-in : lent sur le début permet d'accelérer sur la fin*/
    transform: scale(1);  
}
.elt-nav:hover
{
    -webkit-transition: all 3s ease-in;/*Compatibilité navigateur*/
    -webkit-transform: scale(1.2);/*Compatibilité navigateur*/
    -ms-transition: all 600ms ease-in;/*Compatibilité navigateur*/
    -ms-transform: scale(1.2);   /*Compatibilité navigateur*/
    -moz-transition: all 600ms ease-in;/*Compatibilité navigateur*/
    -moz-transform: scale(1.2);/*Compatibilité navigateur*/
    transition: all 900ms ease-in;
    transform: scale(1.2);
}

.button-p
{
    -webkit-transition: all 300ms ease-in;/*Compatibilité navigateur*/
    -webkit-transform: scale(1); /*Compatibilité navigateur*/
    -ms-transition: all 300ms ease-in;/*Compatibilité navigateur*/
    -ms-transform: scale(1); /*Compatibilité navigateur*/
    -moz-transition: all 300ms ease-in;/*Compatibilité navigateur*/
    -moz-transform: scale(1);/*Compatibilité navigateur*/
    transition: all 300ms ease-in black; /*Permet de contrôler la vitesse d'animation - Ease-in : lent sur le début permet d'accelérer sur la fin*/
    transform: scale(1);  
}
.button-p:hover
{
    -webkit-transition: all 3s ease-in;/*Compatibilité navigateur*/
    -webkit-transform: scale(1.2);/*Compatibilité navigateur*/
    -ms-transition: all 600ms ease-in;/*Compatibilité navigateur*/
    -ms-transform: scale(1.2);   /*Compatibilité navigateur*/
    -moz-transition: all 600ms ease-in;/*Compatibilité navigateur*/
    -moz-transform: scale(1);/*Compatibilité navigateur*/
    transition: all 400ms ease-in;
    transform: scale(1.05);
}


  /*Responsive*/

  

 
